cloudify-common>=6.3.1
decorator==4.4.2
urllib3===1.24.3
networkx==1.9.1
smmap==3.0.5
cffi==1.14.5
# cloudify-types
git+https://github.com/cloudify-cosmo/cloudify-manager.git@6.3.1-build#egg=cloudify-types&subdirectory=cloudify_types

# networkx
ruamel.yaml<=0.15
paramiko>=2.7.1
cryptography==39.0.2
ruamel.yaml.clib==0.2.7
setuptools==59.6.0
