mock>=1.0
nose>=1.3
coverage
testtools>=0.9.36,!=1.2.0
tox
nose-exclude
nose-cov
pylint
flake8
requests-mock

git+https://github.com/cloudify-cosmo/cloudify-manager.git@6.4.2-build#egg=cloudify-types&subdirectory=cloudify_types
 