tosca_definitions_version: cloudify_dsl_1_3

imports:
  - http://www.getcloudify.org/spec/cloudify/4.0/types.yaml
  - https://raw.githubusercontent.com/cloudify-incubator/cloudify-utilities-plugin/1.3.0/plugin.yaml

inputs:

  bp_dep_archive:
    default: https://github.com/EarthmanT/the-not-blueprint/archive/master.zip

node_templates:

  deployment_proxy:
    type: cloudify.nodes.DeploymentProxy
    properties:
      resource_config:
        blueprint:
          id: deployment_proxy
          blueprint_archive: { get_input: bp_dep_archive }
          main_file_name: blueprint.yaml
          external_resource: true
        deployment:
          id: deployment_proxy_reuse
          outputs:
            key: deployment_proxy_output
