tosca_definitions_version: cloudify_dsl_1_3

imports:
  - http://www.getcloudify.org/spec/cloudify/4.0/types.yaml
  - https://raw.githubusercontent.com/cloudify-incubator/cloudify-utilities-plugin/1.3.0/plugin.yaml

inputs:

  bp_dep_archive:
    default: https://github.com/EarthmanT/the-not-blueprint/archive/master.zip

node_templates:

  deployment_proxy:
    type: cloudify.nodes.DeploymentProxy
    properties:
      client:
        host: 127.0.0.1
        username: admin
        password: admin
        tenant: default_tenant
      resource_config:
        blueprint:
          external_resource: true
        deployment:
          external_resource: true
          id: deployment_proxy_reuse
          outputs:
            key: deployment_proxy_output
        reexecute: true
    interfaces:
      cloudify.interfaces.lifecycle:
        start:
          inputs:
            workflow_id: uninstall
        stop:
          inputs:
            workflow_id: install
